.header1 {
    width: 100%;
    background: #00a750;
    height: 50px;
    z-index: 1;
    position: relative;
}

.name {
    padding: 12px;
    margin-left: 150px;
    font-size: 16px;
    color: white;
    font-family: sans-serif;
    display: inline-block;
}
.search-box {
    float: right;
    margin: 10px;
}
.search {
    padding: 4px;
    border: none;
    color: #00a750;
    font-size: 13px;
    width: 180px;
}
.search:focus {
    outline: none;
    border: 1px solid white;
    box-shadow: 0 0 5px white;
}

.search-box button {
    border: none;
    margin: 0.3px;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
    color: #00a750;
    background: white;
}

body {
    display: block;
    margin: 0 auto;
}

.navbar {
    height: 65px;
}

.navbar-brand img {
    width: 110px;
    z-index: 2; 
    position: relative;
}

.main-title-style {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px black;
}

.main-title-style:hover {
    color: lightgray;
}

.title-style {
    text-decoration: none;
    color: black;
}

.title-style:hover {
    color: black;
}


.main-carousel-image {
    object-fit: cover;
    width: 100%;
    height: 450px;
    filter: brightness(80%);
}

.news-card-block {
    object-fit: cover;
    width: 100%;
    height: 200px;
    background-color: lightgray;
}

.nav-link {
    font-size: large;
}

.signature {
    font-size: smaller;
}

.right-border-style {
    position: relative;
}

.right-border-style::after {
    content: "";
    background: lightgray;
    position: absolute;
    top: 0;
    right: 0;
    height: 80%;
    width: 1px;
}

.player-card-img {
    object-fit: cover;
    object-position: 50% 20%;
    width: 200px;
    height: 200px;
}

.carousel-card {
    background-color: lightgray;
}

.player-card-control-prev {
    margin-left: -100px;
}

.player-card-control-next {
    margin-right: -100px;
}

#playersCarousel1 {
    width: 95%;
}

#playersCarousel2 {
    width: 95%;
}

footer{
    height: 50px;
    width: 100%;
    background: #252932;
    position: relative;
    left: 0;
	bottom: 0;
    padding: 0;
    margin: 0;
    color: #6e6e6e;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: none;}
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}