.player-name-style {
  text-decoration: none;
  color: black;
}

.player-name-style:hover {
  color: #00a750;
}

.parent-players-card-img {
  padding-bottom: 100%;
}

.players-card-img {
  position: absolute;
}
